/*!
 * Gridpak Beta CSS
 *
 * Generator - http://gridpak.com/
 * Created by @erskinedesign
 */
 
 

/* Reusable column setup */
.col {
    border:0px solid rgba(0,0,0,0);
    float:left;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -moz-background-clip:padding-box !important;
    -webkit-background-clip:padding-box !important;
    background-clip:padding-box !important;
}



    /* 1. 12 Column Grid 0px - 319px 
    ----------------------------------------------------------------------------- 
    
    Span 1:    8.33333333333%
    Span 2:    16.6666666667%
    Span 3:    25.0%
    Span 4:    33.3333333333%
    Span 5:    41.6666666667%
    Span 6:    50.0%
    Span 7:    58.3333333333%
    Span 8:    66.6666666667%
    Span 9:    75.0%
    Span 10:    83.3333333333%
    Span 11:    91.6666666667%
    Span 12:    100%
    
    ----------------------------------------------------------------------------- */

    @media screen and (min-width: 0px) and (max-width: 319px) {
        
        .col {
            margin-left:0%;
        	padding:0 0%;
        }
        
        .row .col:first-child {
            margin-left:0;
        }
        
        
        /*
        Add your semantic classnames in alongside their corresponding spans here. e.g.
        
        .span_3,
        .my_semantic_class_name {
            ...
        }
        */
        
        .span_1 {
            width:8.33333333333%;
        }
        .span_2 {
            width:16.6666666667%;
        }
        .span_3 {
            width:25.0%;
        }
        .span_4 {
            width:33.3333333333%;
        }
        .span_5 {
            width:41.6666666667%;
        }
        .span_6 {
            width:50.0%;
        }
        .span_7 {
            width:58.3333333333%;
        }
        .span_8 {
            width:66.6666666667%;
        }
        .span_9 {
            width:75.0%;
        }
        .span_10 {
            width:83.3333333333%;
        }
        .span_11 {
            width:91.6666666667%;
        }
        .span_12 {
            margin-left:0;
            width:100%;
        }
    }

    /* 2. 18 Column Grid 320px - 479px 
    ----------------------------------------------------------------------------- 
    
    Span 1:    5.55555555556%
    Span 2:    11.1111111111%
    Span 3:    16.6666666667%
    Span 4:    22.2222222222%
    Span 5:    27.7777777778%
    Span 6:    33.3333333333%
    Span 7:    38.8888888889%
    Span 8:    44.4444444444%
    Span 9:    50.0%
    Span 10:    55.5555555556%
    Span 11:    61.1111111111%
    Span 12:    66.6666666667%
    Span 13:    72.2222222222%
    Span 14:    77.7777777778%
    Span 15:    83.3333333333%
    Span 16:    88.8888888889%
    Span 17:    94.4444444444%
    Span 18:    100%
    
    ----------------------------------------------------------------------------- */

    @media screen and (min-width: 320px) and (max-width: 479px) {
        
        .col {
            margin-left:0%;
        	padding:0 0%;
        }
        
        .row .col:first-child {
            margin-left:0;
        }
        
        
        
        .span_1 {
            width:5.55555555556%;
        }
        .span_2 {
            width:11.1111111111%;
        }
        .span_3 {
            width:16.6666666667%;
        }
        .span_4 {
            width:22.2222222222%;
        }
        .span_5 {
            width:27.7777777778%;
        }
        .span_6 {
            width:33.3333333333%;
        }
        .span_7 {
            width:38.8888888889%;
        }
        .span_8 {
            width:44.4444444444%;
        }
        .span_9 {
            width:50.0%;
        }
        .span_10 {
            width:55.5555555556%;
        }
        .span_11 {
            width:61.1111111111%;
        }
        .span_12 {
            width:66.6666666667%;
        }
        .span_13 {
            width:72.2222222222%;
        }
        .span_14 {
            width:77.7777777778%;
        }
        .span_15 {
            width:83.3333333333%;
        }
        .span_16 {
            width:88.8888888889%;
        }
        .span_17 {
            width:94.4444444444%;
        }
        .span_18 {
            margin-left:0;
            width:100%;
        }
    }

    /* 3. 32 Column Grid 480px - 959px 
    ----------------------------------------------------------------------------- 
    
    Span 1:    3.125%
    Span 2:    6.25%
    Span 3:    9.375%
    Span 4:    12.5%
    Span 5:    15.625%
    Span 6:    18.75%
    Span 7:    21.875%
    Span 8:    25.0%
    Span 9:    28.125%
    Span 10:    31.25%
    Span 11:    34.375%
    Span 12:    37.5%
    Span 13:    40.625%
    Span 14:    43.75%
    Span 15:    46.875%
    Span 16:    50.0%
    Span 17:    53.125%
    Span 18:    56.25%
    Span 19:    59.375%
    Span 20:    62.5%
    Span 21:    65.625%
    Span 22:    68.75%
    Span 23:    71.875%
    Span 24:    75.0%
    Span 25:    78.125%
    Span 26:    81.25%
    Span 27:    84.375%
    Span 28:    87.5%
    Span 29:    90.625%
    Span 30:    93.75%
    Span 31:    96.875%
    Span 32:    100%
    
    ----------------------------------------------------------------------------- */

    @media screen and (min-width: 480px) and (max-width: 959px) {
        
        .col {
            margin-left:0%;
        	padding:0 0%;
        }
        
        .row .col:first-child {
            margin-left:0;
        }
        
        
        
        .span_1 {
            width:3.125%;
        }
        .span_2 {
            width:6.25%;
        }
        .span_3 {
            width:9.375%;
        }
        .span_4 {
            width:12.5%;
        }
        .span_5 {
            width:15.625%;
        }
        .span_6 {
            width:18.75%;
        }
        .span_7 {
            width:21.875%;
        }
        .span_8 {
            width:25.0%;
        }
        .span_9 {
            width:28.125%;
        }
        .span_10 {
            width:31.25%;
        }
        .span_11 {
            width:34.375%;
        }
        .span_12 {
            width:37.5%;
        }
        .span_13 {
            width:40.625%;
        }
        .span_14 {
            width:43.75%;
        }
        .span_15 {
            width:46.875%;
        }
        .span_16 {
            width:50.0%;
        }
        .span_17 {
            width:53.125%;
        }
        .span_18 {
            width:56.25%;
        }
        .span_19 {
            width:59.375%;
        }
        .span_20 {
            width:62.5%;
        }
        .span_21 {
            width:65.625%;
        }
        .span_22 {
            width:68.75%;
        }
        .span_23 {
            width:71.875%;
        }
        .span_24 {
            width:75.0%;
        }
        .span_25 {
            width:78.125%;
        }
        .span_26 {
            width:81.25%;
        }
        .span_27 {
            width:84.375%;
        }
        .span_28 {
            width:87.5%;
        }
        .span_29 {
            width:90.625%;
        }
        .span_30 {
            width:93.75%;
        }
        .span_31 {
            width:96.875%;
        }
        .span_32 {
            margin-left:0;
            width:100%;
        }
    }

    /* 4. 48 Column Grid 960px - Infinity 
    ----------------------------------------------------------------------------- 
    
    Span 1:    2.08333333333%
    Span 2:    4.16666666667%
    Span 3:    6.25%
    Span 4:    8.33333333333%
    Span 5:    10.4166666667%
    Span 6:    12.5%
    Span 7:    14.5833333333%
    Span 8:    16.6666666667%
    Span 9:    18.75%
    Span 10:    20.8333333333%
    Span 11:    22.9166666667%
    Span 12:    25.0%
    Span 13:    27.0833333333%
    Span 14:    29.1666666667%
    Span 15:    31.25%
    Span 16:    33.3333333333%
    Span 17:    35.4166666667%
    Span 18:    37.5%
    Span 19:    39.5833333333%
    Span 20:    41.6666666667%
    Span 21:    43.75%
    Span 22:    45.8333333333%
    Span 23:    47.9166666667%
    Span 24:    50.0%
    Span 25:    52.0833333333%
    Span 26:    54.1666666667%
    Span 27:    56.25%
    Span 28:    58.3333333333%
    Span 29:    60.4166666667%
    Span 30:    62.5%
    Span 31:    64.5833333333%
    Span 32:    66.6666666667%
    Span 33:    68.75%
    Span 34:    70.8333333333%
    Span 35:    72.9166666667%
    Span 36:    75.0%
    Span 37:    77.0833333333%
    Span 38:    79.1666666667%
    Span 39:    81.25%
    Span 40:    83.3333333333%
    Span 41:    85.4166666667%
    Span 42:    87.5%
    Span 43:    89.5833333333%
    Span 44:    91.6666666667%
    Span 45:    93.75%
    Span 46:    95.8333333333%
    Span 47:    97.9166666667%
    Span 48:    100%
    
    ----------------------------------------------------------------------------- */

    @media screen and (min-width: 960px) {
        
        .col {
            margin-left:0%;
        	padding:0 0%;
        }
        
        .row .col:first-child {
            margin-left:0;
        }
        
        
        
        .span_1 {
            width:2.08333333333%;
        }
        .span_2 {
            width:4.16666666667%;
        }
        .span_3 {
            width:6.25%;
        }
        .span_4 {
            width:8.33333333333%;
        }
        .span_5 {
            width:10.4166666667%;
        }
        .span_6 {
            width:12.5%;
        }
        .span_7 {
            width:14.5833333333%;
        }
        .span_8 {
            width:16.6666666667%;
        }
        .span_9 {
            width:18.75%;
        }
        .span_10 {
            width:20.8333333333%;
        }
        .span_11 {
            width:22.9166666667%;
        }
        .span_12 {
            width:25.0%;
        }
        .span_13 {
            width:27.0833333333%;
        }
        .span_14 {
            width:29.1666666667%;
        }
        .span_15 {
            width:31.25%;
        }
        .span_16 {
            width:33.3333333333%;
        }
        .span_17 {
            width:35.4166666667%;
        }
        .span_18 {
            width:37.5%;
        }
        .span_19 {
            width:39.5833333333%;
        }
        .span_20 {
            width:41.6666666667%;
        }
        .span_21 {
            width:43.75%;
        }
        .span_22 {
            width:45.8333333333%;
        }
        .span_23 {
            width:47.9166666667%;
        }
        .span_24 {
            width:50.0%;
        }
        .span_25 {
            width:52.0833333333%;
        }
        .span_26 {
            width:54.1666666667%;
        }
        .span_27 {
            width:56.25%;
        }
        .span_28 {
            width:58.3333333333%;
        }
        .span_29 {
            width:60.4166666667%;
        }
        .span_30 {
            width:62.5%;
        }
        .span_31 {
            width:64.5833333333%;
        }
        .span_32 {
            width:66.6666666667%;
        }
        .span_33 {
            width:68.75%;
        }
        .span_34 {
            width:70.8333333333%;
        }
        .span_35 {
            width:72.9166666667%;
        }
        .span_36 {
            width:75.0%;
        }
        .span_37 {
            width:77.0833333333%;
        }
        .span_38 {
            width:79.1666666667%;
        }
        .span_39 {
            width:81.25%;
        }
        .span_40 {
            width:83.3333333333%;
        }
        .span_41 {
            width:85.4166666667%;
        }
        .span_42 {
            width:87.5%;
        }
        .span_43 {
            width:89.5833333333%;
        }
        .span_44 {
            width:91.6666666667%;
        }
        .span_45 {
            width:93.75%;
        }
        .span_46 {
            width:95.8333333333%;
        }
        .span_47 {
            width:97.9166666667%;
        }
        .span_48 {
            margin-left:0;
            width:100%;
        }
    }

